.header-con {
  max-width: 1100px;
}
.hero {
  position: relative;
  font-family: $font-overpass;
  width: 100%;
  height: auto;
  background-image: linear-gradient(
    to right bottom,
    $very-light-red-grad,
    $light-red-grad
  );

  border-bottom-left-radius: 50px;
}

@media (min-width: 768px) {
  .hero {
    border-bottom-left-radius: 100px;
  }
}

.hero h1 {
  font-family: $font-overpass;
  color: $white;
}

.hero-svg {
  position: absolute;
  z-index: 1;
  height: 240%;
  width: 240%;
  transform: translateY(-20%) translateX(-15%);
}

@media (min-width: 470px) {
  .hero {
    background-image: linear-gradient(
      to right,
      $very-light-red-grad,
      $light-red-grad
    );
  }
  .hero-svg {
    height: 400%;
    width: 140%;
    transform: translateY(-35%) translateX(5%);
  }
}
